<div class="snippet-card" [class.expanded]="expanded" *ngIf="snippet">
  <div class="snippet-title">{{ snippet.title }}</div>
  @if (snippet.description) {
    <div class="snippet-description">{{ snippet.description }}</div>
  }  <div class="snippet-tags-label-row">
    @for (tag of snippet.tags; track tag; let i = $index) {
      <span class="snippet-tag-label">
        <ng-container *ngIf="editTagIndex !== i; else editTag">
          {{ tag }}
          <button mat-icon-button (click)="removeTag(tag)" tabindex="0" class="tag-remove-btn">
            <mat-icon>close</mat-icon>
          </button>
        </ng-container>
        <ng-template #editTag>
          <input class="tag-add-input" [(ngModel)]="editTagValue" (keydown.enter)="$event.preventDefault(); finishEditTag(i)" (blur)="editTagIndex !== null ? finishEditTag(i) : null" autofocus />
        </ng-template>
      </span>
    }
    <button mat-icon-button (click)="addAndEditTag()" tabindex="0" class="tag-remove-btn tag-add-btn" *ngIf="editTagIndex === null">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  @if (editMode) {
    <div class="language-select">
      <mat-select
        [(ngModel)]="snippet.language"
        disableOptionCentering
        panelClass="language-select-panel"
        [ngModelOptions]="{standalone: true}"
      >
        <mat-select-trigger>
          <span>{{ snippet.language }}</span>
        </mat-select-trigger>
        @for (lang of languages; track lang.value) {
          <mat-option [value]="lang.value">
            {{ lang.label }}
          </mat-option>
        }
      </mat-select>
    </div>  }  <div class="snippet-editor" [ngStyle]="{'height': '200px', 'width': '100%'}">
    <ngx-monaco-editor
      [options]="{theme: 'vs-dark', readOnly: true, minimap: {enabled: false}, automaticLayout: true}"
      [model]="{ value: snippet.code || '', language: getLanguageValue(snippet.language) || 'javascript' }"
    ></ngx-monaco-editor>
  </div>
  <div class="snippet-language-label">
    <mat-icon class="snippet-language-icon">code</mat-icon>
    <span>{{ getLanguageLabel(snippet.language) }}</span>
  </div>
</div>
